#twitter:hover{color: #34B5FA;}
#insta:hover{color: #C8398F;}
#in:hover{color: #005EDE;}
#git:hover{color: #66707D;}

#id_card{box-shadow: 5px 5px 30px black;
    width: 19rem; margin: auto;
    border-radius: 10px 10px ;}
#whoisimg{border-radius: 10px 10px 0px 0px;}
